// app global css in SCSS form

.q-card {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.q-toolbar {
  height: 64px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  border-bottom: 4px solid darken($primary, 10%);
}
